.goods{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.good-buy {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.good-buy>div{
  width: 30%;
  display: flex;
  flex-direction: column;
}
.good-buy>div img{
  width: 100%;
  height: 200px;
}
.good-buy>div button{
  width: 100%;
  line-height: 40px;
  border: 1px solid hotpink;
  background-color: hotpink;
  outline: none;
  border-radius: 8px;
  margin-top: 30px;
}
